.ComponentTeams {
  display: flex;
  flex-direction: row;
  margin-top: 5%;
  align-items: center;
  height: 700px;
  flex-flow: wrap;
}

.Searches {
  background-color: white;
  display: flex;
  width: 30%;
  height: 90%;
  flex-direction: column;
  justify-content: space-between;
}

.PokemonSearched {
  height: 60%;
  width: 100%;
}
.SearchBar {
  background-color: white;
  width: 100%;
  height: 20%;
  display: flex;
}
.LogOut {
  background-color: blue;
  height: 10%;
  width: 100%;
  display: flex;
  align-items: flex-end;
}
.btnLogOut {
  background-color: white;
  border-radius: 20%;
  height: 40px;
  margin-top: 10%;
  margin-left: 5%;
  cursor: pointer;
}

.Team {
  flex-flow: wrap;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  background-color: green;
  width: 50%;
  height: 90%;
}
.textContainer {
  background-color: white;
  display: flex;
  justify-content: center;
  width: 80%;
  height: 10%;
}
.textTeam {
  font-size: 25px;
  font-style: italic;
}
