.Team {
  margin-left: 45%;
  flex-flow: wrap;
  flex-direction: row;
  display: flex;
  margin-top: 10%;
  position: absolute;
}
.textTeam {
  margin-top: 5%;
  margin-left: 47%;
  position: absolute;
}
.PokemonSearched {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-top: 10%;
  height: 70%;
  position: absolute;
  flex-flow: wrap;
}
.SearchBar {
  top: 10%;
  left: 5%;
  width: 30%;
  height: 30%;
}
