.ComponentTeams {
  display: flex;
  flex-direction: row;
  margin-top: 5%;
  align-items: center;
  height: 700px;
  flex-flow: wrap;
  background-color: transparent;
}

.titleTeamContainer {
  background-color: white;
  border-radius: 5px 10px 10px 0px;
  border: solid;
  border-color: rgb(56, 97, 81);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 80%;
  height: 10%;
}
.textTeam {
  font-size: 25px;
  font-style: bold;
  margin-right: 2%;
}
.ballContainer {
  width: 20%;
  height: 100%;
  display: grid;
  justify-content: flex-end;
  align-items: center;
  margin-right: 1%;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.pokeball {
  display: flex;
  justify-content: flex-end;
  background: transparent;
  width: 65%;
  height: 50%;
}
.Searches {
  background-color: white;
  display: flex;
  width: 30%;
  height: 90%;
  flex-direction: column;
  justify-content: space-between;
}

.PokemonSearched {
  height: 60%;
  width: 100%;
}
.SearchBar {
  background-color: white;
  width: 100%;
  height: 20%;
  display: flex;
}
.LogOut {
  height: 10%;
  width: 100%;
  display: flex;
  align-items: center;
  margin-left: 3%;
}

.Team {
  flex-flow: wrap;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  background-color: rgb(56, 97, 81);
  border-left: solid;
  border-left-color: rgb(56, 97, 81);
  width: 50%;
  height: 90%;
  border-radius: 0px 10px 10px 0px;
}

.btnLogOut {
  background-color: rgb(17, 93, 55);
  width: 15%;
  border-radius: 5px 5px 5px 5px;
  height: 60%;
  cursor: pointer;
  font-size: medium;
  border: none;
  box-shadow: 5px 5px 20px 0px #d1d1d1;
  color: white;
}
.btnLogOut:hover {
  color: #fff;
  background-color: rgb(172, 126, 73);
  border-color: rgb(172, 126, 73);
}
