.cards {
  width: 100%;
  height: 100%;
  background-color: rgb(56, 97, 81);
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardPokemon {
  background-color: aliceblue;
  width: 65%;
  height: 80%;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: solid;
  border-radius: 5px 5px 5px 5px;
  border-color: rgb(255, 206, 160);
  box-shadow: 5px 5px 15px 5px #fff8b9;
}

.imgContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 206, 160);
}
.imgPokemon {
  width: 60%;
  height: 60%;

  object-fit: contain;
}

.titleContainer {
  background-color: rgb(172, 126, 73);
  width: 100%;
  border-color: rgb(149, 114, 67);
  display: flex;
  justify-content: center;
}

.pokemonTitle {
  font-size: medium;
  color: white;
  display: flex;
  justify-content: center;
}

.deleteContainer {
  width: 100%;
}

.btnDelete {
  background-color: #69512d;
  font-size: 20px;
  height: 100%;
  width: 100%;
  color: white;
  border-radius: 0px 0px 3px 3px;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
}
.btnDelete:hover {
  background-color: #a78148;
}
