.cardPokemon {
  background-color: aliceblue;
  width: 180px;
  height: 180px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards {
  flex-direction: row;
  align-items: center;
  background-color: yellow;
}
.btnDelete {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 8px;
  margin-top: 8px;
}

.addPokemon {
  background-color: aqua;
  border-radius: 5%;
}
